use asdf
PATH_add ./scripts
# Required to allow neovim/node-client to log to the console
# https://github.com/neovim/node-client/blob/aff75f5d8c16b90d886351bc8bd1e30a4e553ee9/packages/neovim/src/utils/logger.ts
# do not enable this if you want to actually use neovim - it will fail to connect
# export ALLOW_CONSOLE=true
export NVIM_NODE_LOG_FILE=tmp/nvim_node.log
